<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WpfMvvm.Commands" version="0.0.0.1" targetFramework="net48" />
  <package id="WpfMvvm.Converters" version="0.0.0.10" targetFramework="net48" />
  <package id="WpfMvvm.ViewModel" version="0.0.0.1" targetFramework="net48" />
  <package id="WpfMvvm.WpfCommands" version="0.0.0.1" targetFramework="net48" />
</packages>